#' {{{title}}}
#'
#' {{#description}}
#' {{{.}}}
#' {{/description}}
#'
#' A data frame with {{{ncol}}} columns and {{{nrow}}} rows:
#' \describe{
#' {{#variables}} \item{ \code{ {{{name}}} }}{ \code{ {{{type}}} }. {{{description}}} }
#' {{/variables}}
#' }
#'
#'
#' @references
#' \itemize{
#' {{#references}}\item{ {{.}} }
#' {{/references}}
#' }
#'
#' @source
#' {{{source}}}
"{{{name}}}"
