#' {{{title}}}
#'
#' {{#description}}
#' {{{.}}}
#' {{/description}}
#'
#' {{#variables}}
#' A data frame with {{{ncol}}} columns and {{{nrow}}} rows:
#' \describe{
#' {{#variables}} \item{ \code{ {{{name}}} }}{ \code{ {{{type}}} }. {{{description}}} }
#' {{/variables}}
#' }
#' {{/variables}}
#'
#' {{#references}}
#' @references
#' \itemize{
#' {{#references}}\item{ {{.}} }
#' {{/references}}
#' }
#' {{/references}}
#'
#' {{#source}}
#' @source
#' {{{source}}}
#' {{/source}}
#'
#' {{#seeAlso}}
#' @seeAlso
#' {{.}}
#' {{/seeAlso}}
"{{{name}}}"
